@charset "UTF-8";

html {
    font-size: 62.5%;
}
input,
textarea {
    font-size: 100%;
    vertical-align: middle;
}
body,
div,
p,
address,
dl,
dt,
dd,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    background-color: #eff0f0;
    color: #000;
    font-family: 'Chillax', 'YakuHanJP', 'dnp-shuei-gothic-gin-std', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    font-feature-settings: 'palt';
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    transition: 0.6s ease;
}
body.-is-view-service {
    background-color: rgba(23, 23, 23, 0.88);
}
img{
    display: inline-block;
    border: none;
    max-width: 100%;
    height: auto;
}
li {
    list-style: none;
}
